* {
    padding: 0;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-justify-center {
    display: flex;
    justify-content: center
}

.flex-justify-start {
    display: flex;
    justify-content: flex-start
}

.flex-align-start {
    display: flex;
    align-content: flex-start
}

.flex-space-between {
    display: flex;
    justify-content: space-between
}

.flex-align-center {
    display: flex;
    align-items: center
}

.flex-justify-align {
    display: flex;
    justify-content: center;
    align-items: center
}

.flex-grow1 {
    flex-grow: 1;
    /* default 0 */
}

.fixed {
    position: fixed;
}

.top0 {
    top: 0;
}

.width10pec {
    width: 10%
}

.width20pec {
    width: 20%
}

.width25pec {
    width: 25%;
}

.width30pec {
    width: 30%
}

.width40pec {
    width: 40%
}

.width50pec {
    width: 50%
}

.width60pec {
    width: 60%
}

.width65pec {
    width: 65%
}

.width70pec {
    width: 70%
}


.width80pec {
    width: 80%
}

.width100pec {
    width: 100%
}

.height80 {
    height: 80px;
}

.paddingBottom2 {
    padding-bottom: 2px;
}

.padding10 {
    padding: 10px
}

.paddingX5 {
    padding-left: 5px;
    padding-right: 5px;
}

.paddingX10 {
    padding-left: 10px;
    padding-right: 10px;
}

.paddingX50 {
    padding-left: 50px;
    padding-right: 50px;
}

.paddingX60 {
    padding-left: 60px;
    padding-right: 60px;
}

.padding5X {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding10X {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding20X {
    padding-top: 20px;
    padding-bottom: 20px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop90 {
    margin-top: 90px;
}

.marginLeft5 {
    margin-left: 5px
}

.marginLeft10 {
    margin-left: 10px
}

.marginRight10 {
    margin-right: 10px
}

.marginRight20 {
    margin-right: 20px
}

.marginBottom5 {
    margin-bottom: 5px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.margin5X {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin10X {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin20X {
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginX5 {
    margin-left: 5px;
    margin-right: 5px;
}

.marginXauto {
    margin: auto;
}

.marginXauto20X {
    margin: 20px auto;
}

.marginXauto100X {
    margin: auto;
    margin-top: 100px;
}

.bottom-line {
    border-bottom: 2px solid black
}

.borderb7b7b7 {
    border: 1px dashed #b7b7b7
}

.font-size40 {
    font-size: 40px;
}

.font-size50 {
    font-size: 50px;
}

.bold {
    font-weight: bold
}

.textAlignL {
    text-align: left
}

.colorFFF {
    color: #ffffff;
}

.colorRed {
    color: red;
}

.colorFF3030 {
    color: #FF3030;
}

.color898989 {
    color: #898989;
}

.color409EFF {
    color: #409EFF
}

.color8c8c8c {
    color: #8c8c8c;
}

.backColorf4f5f5 {
    background-color: #f4f5f5;
}

.backColorFFF {
    background-color: #ffffff;
}

// artilce-list-shadow
.article-list-shadow {
    -moz-box-shadow: 1px 1px 5px #c9c9c9;
    -webkit-box-shadow: 1px 1px 5px #c9c9c9;
    box-shadow: 1px 1px 5px #c9c9c9;
}

.article-list-shadow:hover {
    // cursor: pointer;
    -moz-box-shadow: 1px 3px 5px #adadad;
    -webkit-box-shadow: 1px 3px 5px #adadad;
    box-shadow: 1px 3px 5px #adadad;
}